*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
   background-color:slategray;
    font-display: poppins;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#main{ 
    width: 100%;
    height: 100vh;
    position: relative;
}
/* Nav Bar  start*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px rgba(138, 132, 132, 0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:white;
}

nav ul{
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: teal;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: turquoise;
    color:white;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.03);
    transition: all ease 0.2s;
}
.logo img {
    height: 55px;
}    
/* Nav bar  end*/


.content {
    width: 75%;
    display: inline-block;
    margin-left: 375px;
}
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    border-radius: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}
/* work section element start */
.jump:hover{
    background-color: turquoise;
    color:white;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.03);
    transition: all ease 0.2s;
    text-decoration: none;
}
.jump a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
.jump a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
/* work section element end */
/* Contact me section element  start */
.reach-me a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
.reach-me a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.reach-me a:hover{
    background-color: turquoise;
    color:white;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.03);
    transition: all ease 0.2s;
    text-decoration: none;
}
/* contact me section element  end */

.main-projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.box3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.box4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}